.container {
    display: flex;
    gap: 20px;
    margin: 150px 500px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #e43434;
    transition-duration: 2s;
}

.nextItem {
    width: 300px;
}

.follower {
    display: none;
    width: 10px;
    height: 10px;
    background-color: blue;
    /*position: absolute;*/
    pointer-events: none;
}